@import url("https://fonts.googleapis.com/css?family=Inter:400,600");
* {
    scroll-behavior: smooth;
  }

body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding:0px;
    
}

  
p{
    display: flex;
    justify-content:center;
    font-size: 1.5rem;
}

a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    color:#B3B3B3;
}

a:hover {
    color: #DABB75
}

#title {
    width: 100%;
    object-fit: contain;
    margin: 0px;
}

.mainNav {
    
    overflow-x: hidden;
    justify-content: center;
    background-color:black; 
    width: 100%;
    /* position: fixed; */
    color: #B3B3B3;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #1F1E1E 0%, #000 100%);
}

#transistion {
    margin:0px;
    height: 50px;
    background: radial-gradient(50% 50% at 50% 50%, #2B2B2B 0.52%, #000 100%);
}

#Introduction {
    align-items: center;
    justify-content: center;
    
    background-image: url("backgrounds/bgpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header {
    font-size: 70px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro-container > figure {
    align-items: center;
}

#Background {
    background-image: url("backgrounds/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    flex-shrink: 0;
    align-items: center;
}

#Background-content {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    text-align: center;
    color: #EAEAEA;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#AgeofWar {
    background-image: url("backgrounds/bgpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


#AgeofWar-content {
    display: flex;
}

#PostWar {
    background-image: url("backgrounds/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: #EAEAEA;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#Memoir {
    background-image: url("backgrounds/bgpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




#Gallery {
    height: 140rem;
    object-fit: contain;
    background-image: url("backgrounds/bg2.png");
    background-repeat: no-repeat;
    background-position:30%;
    background-size: cover;
    width: 100%;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

.gallery {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 1rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}





#credits {
    display: flex;
    justify-content: space-around;
}

.cat-icons {
    width:200px;
    height: auto;
    display: inline;
}

.cat-names {
    font-size: 2rem;
    color: white;

}



table {
    border-collapse: collapse;
}

table, td {
    border: none;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

#wiki {
    background-color: #61688B;
    font-size: 40px;
    font-weight: 600;
}

#wiki > p {
    margin: 0px;
}

  
.container {
    grid-column: 2;
    position: relative;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    /* background-color: rgba(0,0,0,.4); */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.23);
    overflow: hidden;
  }
  
  
  .content {
    transition: max-height 1s cubic-bezier(0, 0, 0, 2.1);
    max-height: 305px;
    overflow: hidden;
  }
  
  .expanded {
    transform: rotate(180deg);
  }
  



  .hidden1  {
    max-height: 0;
  }
  
  .read-more-button1 {
    position: absolute;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 60px;
    right: 450px;
    filter: drop-shadow(0px 3px 2px #999);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 0.21);
  }
  


  .hidden2 {
    max-height: 0;
  }
  
  .read-more-button2 {
    position: absolute;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 60px;
    right: 450px;
    filter: drop-shadow(0px 3px 2px #999);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 0.21);
  }
  



  .hidden3 {
    max-height: 0;
  }
  
  .read-more-button3 {
    position: absolute;
    border-top: 15px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 60px;
    right: 350px;
    filter: drop-shadow(0px 3px 2px #999);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 0.21);
  }

  .hidden4 {
    max-height: 0;
  }
  
  .read-more-button4 {
    position: absolute;
    border-top: 15px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 60px;
    right: 270px;
    filter: drop-shadow(0px 3px 2px #999);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 0.21);
  }

  .hidden5 {
    max-height: 0;
  }
  
  .read-more-button5 {
    position: absolute;
    border-top: 15px solid #000;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 60px;
    right: 370px;
    filter: drop-shadow(0px 3px 2px #999);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0, 0, 0, 0.21);
  }



